<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/png" href="/img/icon-w.png" />

    <title>What's the Weather Today?</title>

    <!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/"> -->

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href="/public/css/city.css" />
  </head>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <!-- <h3 class="masthead-brand">Cover</h3> -->
          <nav class="nav nav-masthead justify-content-center">
           <form action="/city" method="post">
             <a class="nav-link active" href="#">Home</a>
           </form>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>
      <form class="" action="/" method="post">
        <main role="main" class="inner cover">
          <h1 class="cover-heading">Welcome to the <%= userInput %></h1>
          <p class="lead">The weather will be rendered here.</p>
          <!-- looping over newListItems -->
          <% for (let i = 0; i < temperatures.length; i++){ %>
          <li><%= temperatures[i] %></li>
          <% } %>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary" type="submit"
              >Learn more</a
            >
          </p>
        </main>
      </form>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>
            Cover template for
            <a href="https://getbootstrap.com/">Bootstrap</a>, by
            <a href="https://twitter.com/mdo">@mdo</a>.
          </p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script> -->
  </body>
</html>
